body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background: #024E73;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px;
}

.menu {
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}



h1 {
  color: #000;
  text-align: center;
  padding: 10px;
}

.procura {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

input {
    width: 50%;
    height: 40px;
    border-radius: 10px;
}

.flex {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
    padding: 30px;
}

.flex > div {
    flex: 1 1 200px;
}

button {
    margin-top: 10vh;
    margin-left: 10px;
    width: 40vh;
    height: 80px;
    background: #006494;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
    border-radius: 45px;
} 

/* 
.container {
  max-width: 1580vh;  
  background-color: #e8f1f2;
  margin: 0 auto;
}  
*/
