.login{
    margin: 120px 200px auto 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #024E73;
    font-family: "Montserrat", sans-serif;
}

.btn {
    background-color: #024E73;
    font-family: "Montserrat", sans-serif;
    color: white;
}