body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #E0E7E7;
    background-image: url('/static/img/111.png');
    background-repeat: no-repeat;
    background-position-x: 55vw;
    background-position-y: 10vw;
}

img{
    max-width:125px;
    max-height:75px;
    width: auto;
    height: auto;   
}


a {
    text-decoration: none;
    color: white;
}


.header {
    background: #024E73;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px;
}

.menu {
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

button{
    border-radius: 35px;
}


h1 {
  color: #000;
  text-align: center;
  padding: 10px;
}

.procura {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto;
  width: 1000;  
}


nav{
    background-color: #024E73;
}

input {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    margin-left: 30px;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: px;
}

.items-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: px;
}

.botao{
    color: #024E73;
    background-color: white;
    border: 2px solid #024E73;
    border-radius: 35px;
    padding: 5px;
    width: 200px;
    text-align:center;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

.botao2{
    color: #024E73;
    background-color: white;

    border: 2px solid #024E73;
    border-radius: 35px;

    height: 100px;
    margin-top: 40px;
    text-align:center;
    padding: 30px 0 0 0 ;

    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

.botao3{
    color: #024E73;
    background-color: white;

    border: 2px solid #024E73;
    border-radius: 35px;

    height: 100px;
    margin-top: 40px;
    text-align:center;
    padding: 15px;

    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

.respostas{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.respostas2{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resposta{
    margin-top: 8vh;
}

.respostas span {
    margin-top: 50px;
    background-color: #024E73;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 4rem;
    padding: 15px;
}

p{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 2rem;
    padding: 5%;
    background-color: whitesmoke;
}

.btn-resposta{
    display: flex;
    width: 600px;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
}

