{% extends 'base.html' %}{% block content %}
<h1>{% block title %} Arrependimento da compra {% endblock %}</h1>
<div class="escolhas">
    <section class="flex">
        <div>
            <button class="Choose">Modelo adquirido</button>
        </div>
        <div>
            <button class="Choose">Cor</button>
        </div>
        <div>
            <button class="Choose">Problema financeiro (Pessoal)</button>
        </div>
        <div>
            <button class="Choose">Não quero mais o produto</button>
        </div>
    </section>
</div>
{% endblock %}