{% extends 'base.html' %}{% block content %}
<h1>{% block title %} Compra do produto errado {% endblock %}</h1>
<div class="escolhas">
    <section class="flex">
        <div>
            <button class="Choose">Compra do produto errado</button>
        </div>
        <div>
            <button class="Choose">Arrependimento da compra</button>
        </div>
        <div>
            <button class="Choose">Problema com a entrega</button>
        </div>
        <div>
            <button class="Choose">Produto errado e/ou com problema</button>
        </div>
        <div>
            <button class="Choose">Preço/Pagamento</button>
        </div>
        <div>
            <button class="Choose">Não reconheço essa compra</button>
        </div>

    </section>
</div>
{% endblock %}