{% extends 'base.html' %}{% block content %}
<h1>{% block title %} Buscar Erros {% endblock %}</h1>
<div class="procura">
    <input id="procurar" type="search" placeholder="Procurar">
</div>
<div class="escolhas">

    <button class="Choose">Compra do produto errado</button>
    <button class="Choose">Arrependimento da compra</button>
    <button class="Choose">Problema com a entrega</button>
    <button class="Choose">Produto errado e/ou com problema</button>
    <button class="Choose">Preço/Pagamento</button>
    <button class="Choose">Não reconheço essa compra</button>
</div>
{% endblock %}