{% extends 'base.html' %}{% block content %}
<h1>{% block title %} Buscar Erros {% endblock %}</h1>
<div class="procura">
    <input id="procurar" type="search" placeholder="Procurar">
</div>
<div class="items-grid">

    <button>Compra do produto errado</button>
    <button>Arrependimento da compra</button>
    <button>Problema com a entrega</button>
    <button>Produto errado e/ou com problema</button>
    <button>Preço/Pagamento</button>
    <button>Não reconheço essa compra</button>


</div>
{% endblock %}