<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/login.css') }}">
    <title>Login</title>
</head>

<body>
    <div class="page-home">
        
        <div class="tela-login">
            <img src="{{ url_for('static', filename= 'img/logo.png') }}">
            <input type="text" placeholder="Login">
            <input type="password" placeholder="Senha">
            <button>Acessar</button>
        </div>
    </div>
</body>

</html>