{% extends 'base.html' %}{% block content %}
<h1>{% block title %} Problema com a entrega {% endblock %}</h1>
<div class="items-grid">
    <a href="{{ url_for() }}"><button>Atraso na entrega</button></a>
    <a href="{{ url_for() }}"><button>Está demorando muito</button> </a> 
    <a href="{{ url_for() }}"><button>Endereço incorreto</button> </a> 
    <a href="{{ url_for() }}"><button>Atendimento do transportador</button> </a> 
    <a href="{{ url_for() }}"><button>Falta de previsão da data de entrega</button> </a> 
    <a href="{{ url_for() }}"><button>Falta de agendamento da entrega</button> </a>
    <a href="{{ url_for() }}"><button>Não recebi o produto</button> </a> 
</div>
{% endblock %}