{% extends 'base.html' %}
{% block title %} Me arrependi desta compra {% endblock %}
{% block content %}
<div class="resposta">
  <h1>Me arrependi desta compra</h1>
  <div class="items-grid2">
    <a href="{{ url_for('resposta', codigo='D15') }}" class="botao2">Modelo adquirido</a>
    <a href="{{ url_for('resposta', codigo='D16') }}" class="botao2">Cor</a>
    <a href="{{ url_for('resposta', codigo='D17') }}" class="botao2">Problema financeiro (pessoal)</a>
    <a href="{{ url_for('resposta', codigo='D18') }}" class="botao2">Não quero mais o produto</a>
  </div>
</div>
{% endblock %}