<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{{url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    <header class="header">
        <img src="{{ url_for('static', filename= 'img/logo.png') }}">
        <nav>
            <ul class="menu">
                <li>
                    <a href="{{ url_for('index')}}">Pesquisar Error</a>
                </li>
                <li>
                    <a href="">Listagem</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
              <div class="alert alert-warning"></div>
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
              </div>
          {% endif %}
          {% endwith %}
        {% block content %} 
        {% endblock %}
    </div>
</body>

</html>