{% extends 'base.html' %}{% block content %}
<h1>{% block title %} Compra do produto errado {% endblock %}</h1>
<div class="items-grid">
    <a href="{{ url_for('resposta') }}"><button>Modelo adquirido</button></a>
    <a href="{{ url_for('resposta') }}"><button>Dimensão</button> </a> 
    <a href="{{ url_for('resposta') }}"><button>Voltagem</button> </a> 
    <a href="{{ url_for('resposta') }}"><button>Quantidade</button> </a>
    <a href="{{ url_for('resposta') }}"><button>Cor</button> </a> 
</div>
{% endblock %}