{% extends 'base.html' %}
{% block title %} Comprei produto errado {% endblock %}
{% block content %}
<div class="resposta">
    <h1>Comprei produto errado</h1>
    <div class="items-grid">
        <a href="{{ url_for('resposta', codigo='D10') }}" class="botao2">Modelo adquirido</a>
        <a href="{{ url_for('resposta', codigo='D11') }}" class="botao2">Dimensão </a> 
        <a href="{{ url_for('resposta', codigo='D12') }}" class="botao2">Voltagem </a> 
        <a href="{{ url_for('resposta', codigo='D13') }}" class="botao2">Quantidade </a>
        <a href="{{ url_for('resposta', codigo='D14') }}" class="botao2">Cor </a> 
    </div>
</div>
{% endblock %}