{% extends 'base.html' %}
{% block title %} {{ super() }} Buscar Erros {% endblock %}
<!-- super acrescenta o texto ao bloco trazido -->
{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>

<div class="procura">
        <input id="procurar" type="search" placeholder="Buscar">
        <button type="button" class="btn btn-primary">Buscar Motivos</button>
        <script>
            $('#procurar').autocomplete({
                serviceUrl: '/procurar',
                dataType: 'json',
                onSearchComplete: function (query, suggestions) {
                    console.log(suggestions)
                    console.log(query)
                }
            });
        </script>
</div>
<div class="items-grid">
    <a href="{{ url_for('compraErrada') }}" class="botao2">Comprei produto errado</a>
    <a href="{{ url_for('arrependimento') }}" class="botao3">Me arrependi desta compra</a>
    <a href="{{ url_for('problemaEntraga') }}" class="botao2">Problemas com a entrega</a>
    <a href="{{ url_for('produtoErrado') }}" class="botao3">Meu produto veio errado e/ou com problema</a>
    <a href="{{ url_for('pagamento') }}" class="botao2">Preço/Pagamento</a>
    <a href="{{ url_for('reconhecimento') }}" class="botao3">Não reconheço essa compra</a>
</div>



{% endblock %}
************************************************