{% extends 'base.html' %}

{% block title %} {{ super() }} Buscar Erros {% endblock %} <!-- super acrescenta o texto ao bloco trazido -->
{% block content %}

<h1> Buscar Erros </h1>
<div class="procura">
    <input id="procurar" type="search" placeholder="Buscar">
</div>
<div class="items-grid">
    <a href="{{ url_for('compraErrada') }}"><button>Compra do produto errado</button></a>
    <a href="{{ url_for('arrependimento') }}"><button>Arrependimento da compra</button> </a> 
    <a href="{{ url_for('problemaEntraga') }}"><button>Problema com a entrega</button> </a> 
    <a href="{{ url_for('produtoErrado') }}"><button>Produto errado e/ou com problema</button> </a> 
    <a href="{{ url_for('pagamento') }}"><button>Preço/Pagamento</button> </a> 
    <a href="{{ url_for('naoReconheco.html') }}"><button>Não reconheço essa compra</button> </a> 
</div>


  
{% endblock %}
