{% extends 'base.html' %}
{% block title %} Preço/Pagamento {% endblock %}
{% block content %}
<div class="resposta">
    <h1>Preço/Pagamento</h1>
    <div class="items-grid">
        <a href="{{ url_for('resposta', codigo='D26') }}" class="botao3">Encontrei um preço melhor</a>
        <a href="{{ url_for('resposta', codigo='D27') }}" class="botao2">Cobrança incorreta </a>
        <a href="{{ url_for('resposta', codigo='D28') }}" class="botao3">Seleção incorreta da forma de pagamento </a>
        <a href="{{ url_for('resposta', codigo='D29') }}" class="botao3">Já paguei e consta pendente </a>
    </div>
</div>
{% endblock %}