{% extends 'base.html' %}{% block content %}
<h1>{% block title %} Preço/Pagamento {% endblock %}</h1>
<div class="items-grid">
    <a href="{{ url_for('resposta') }}"><button>Encontrei um preço melhor</button></a>
    <a href="{{ url_for('resposta') }}"><button>Cobrança incorreta</button> </a> 
    <a href="{{ url_for('resposta') }}"><button>Seleção incorreta da forma de pagamento</button> </a> 
    <a href="{{ url_for('resposta') }}"><button>Já paguei e consta pendente</button> </a> 
</div>
{% endblock %}