{% extends 'base.html' %}{% block content %}
<h1>{% block title %} Produto errado e/ou com problema {% endblock %}</h1>
<div class="items-grid">
  <a href="{{ url_for('resposta') }}"><button>Produto não funciona</button></a>
  <a href="{{ url_for('resposta') }}"><button>Produto com defeito estético</button> </a> 
  <a href="{{ url_for('resposta') }}"><button>Embalagem amassada ou avariada</button> </a> 
  <a href="{{ url_for('resposta') }}"><button>Produto funciona parcialmente</button> </a> 
  <a href="{{ url_for('resposta') }}"><button>Produto é diferente do que comprei</button> </a> 
</div>
{% endblock %}